.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
  }
  
  .btn-outline-success:hover {
    color: white;
    border-color: chocolate;
    background-color: chocolate;
  }
  
  footer {
    background-color: #19110b;
    color: white;
  }
  
  .first-line {
    border-bottom: 1px solid #392d23;
  }
  
  .second-line a {
    color: white;
    text-decoration: none;
  }
  
  .third-line {
    display: none;
  }
  
  
  @media screen and (max-width:48rem) {
    .first-line {
      text-align: center;
    }
  }
  
  @media screen and (max-width:48rem) {
    .second-line {
      padding-left: 2rem;
      padding-right: 2rem;
      border-bottom: 1px solid #392d23;
    }
  }
  
  @media screen and (max-width:48rem) {
    .third-line {
      display: block;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 18px;
    }
  }
  
  .third-line img {
    margin: 0 8px;
    /* 이미지 양옆에 여백 */
  }
  
  .disable {
    display: block;
  }
  
  @media screen and (max-width:48rem) {
    .disable {
      display: none;
    }
  }